<!-- Validation failure messages -->
<% if @ingredient_taste.errors.any? %>
  <% @ingredient_taste.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Ingredient Taste</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_ingredient_taste" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ingredient_id -->
      <div class="form-group">
        <label for="ingredient_id" class="control-label">
          Ingredient
        </label>

        <input type="text" id="ingredient_id" name="ingredient_id" placeholder="Ingredient" class="form-control" value="<%= @ingredient_taste.ingredient_id %>">
      </div>

      <!-- Label and input for taste_id -->
      <div class="form-group">
        <label for="taste_id" class="control-label">
          Taste
        </label>

        <input type="text" id="taste_id" name="taste_id" placeholder="Taste" class="form-control" value="<%= @ingredient_taste.taste_id %>">
      </div>

      <button class="btn btn-success">
        Create Ingredient Taste
      </button>
      or
      <a href="/ingredient_tastes">Cancel</a>
    </form>
  </div>
</div>
