<!-- Validation failure messages -->
<% if @ingredient_technique.errors.any? %>
  <% @ingredient_technique.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Ingredient Technique</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_ingredient_technique" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ingredient_id -->
      <div class="form-group">
        <label for="ingredient_id" class="control-label">
          Ingredient
        </label>

        <%= select_tag(:ingredient_id, 
              options_from_collection_for_select(Ingredient.all, :id, :name, @ingredient_technique.ingredient_id), 
              :class => "form-control" )%>
      </div>

      <!-- Label and input for technique_id -->
      <div class="form-group">
        <label for="technique_id" class="control-label">
          Technique
        </label>

        <%= select_tag(:technique_id, 
              options_from_collection_for_select(Technique.all, :id, :name, @ingredient_technique.technique_id), 
              :class => "form-control" )%>
      </div>

      <button class="btn btn-success">
        Create Ingredient Technique
      </button>
      or
      <a href="/ingredient_techniques">Cancel</a>
    </form>
  </div>
</div>
